<a href="https://colab.research.google.com/github/TongHere/Python/blob/main/03_Function_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Content Copyright by Pierian Data
Function Practice Exercises
Problems are arranged in increasing difficulty:

Warmup - these can be solved using basic comparisons and methods
Level 1 - these may involve if/then conditional statements and simple methods
Level 2 - these may require iterating over sequences, usually with some kind of loop
Challenging - these will take some creativity to solve

WARMUP SECTION:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:  # check if both numbers are even
        return min(a, b)  # return the lesser of the two
    else:
        return max(a, b)  # return the greater of the two

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    words = text.split()
    if words[0][0].lower() == words[1][0].lower():
        return True
    else:
        return False

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2): 
    if n1+n2 == 20:
        return True
    else:
        return False

In [17]:
# Check
makes_twenty(20,10)

False

In [19]:
# Check
makes_twenty(2,3)

False

In [20]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [21]:
makes_twenty(20,10)

True

In [22]:
makes_twenty(2,3)

False