<a href="https://colab.research.google.com/github/TongHere/Python/blob/main/03_Function_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Content Copyright by Pierian Data
Function Practice Exercises
Problems are arranged in increasing difficulty:

Warmup - these can be solved using basic comparisons and methods
Level 1 - these may involve if/then conditional statements and simple methods
Level 2 - these may require iterating over sequences, usually with some kind of loop
Challenging - these will take some creativity to solve

WARMUP SECTION:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:  # check if both numbers are even
        return min(a, b)  # return the lesser of the two
    else:
        return max(a, b)  # return the greater of the two

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    words = text.split()
    if words[0][0].lower() == words[1][0].lower():
        return True
    else:
        return False

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2): 
    if n1+n2 == 20:
        return True
    else:
        return False

In [17]:
# Check
makes_twenty(20,10)

False

In [19]:
# Check
makes_twenty(2,3)

False

In [20]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [21]:
makes_twenty(20,10)

True

In [22]:
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

In [23]:
def old_macdonald(name):
    if len(name) < 4:
        return name.capitalize()
    else:
        return name[:3].capitalize() + name[3:].capitalize()

In [24]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [25]:
# Check
old_macdonald('adrian')

'AdrIan'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [28]:
"hry".join(['a','b','c'])

'ahrybhryc'

In [43]:
list= 'you and me'
list[::-1]

'em dna uoy'

In [46]:
def master_yoda(sentence):
    words = sentence.split()
    return " ".join(words[::-1]) #join methon and a space delimiter "". The function csn help to returns the new sentence.

In [49]:
sentence = 'This is fun'
words = sentence.split()
words

['This', 'is', 'fun']

In [50]:
words[::-1]

['fun', 'is', 'This']

In [51]:
" ".join(words[::-1])

'fun is This'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [52]:
def almost_there(num):
    if 90 <num < 110 or  190<num < 210 :
        return True
    else:
        return False

In [54]:
almost_there(2300)

False


In Python, abs() is a built-in function that returns the absolute value of a number. The absolute value of a number is the magnitude of the number without its sign. For example, the absolute value of 5 is 5, and the absolute value of -5 is also 5.

In [58]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
#In Python, abs() is a built-in function that returns the absolute value of a number. 
#The absolute value of a number is the magnitude of the number without its sign. 
#For example, the absolute value of 5 is 5, and the absolute value of -5 is also 5.

In [56]:
almost_there(90)

True