<a href="https://colab.research.google.com/github/TongHere/Python/blob/main/03_Function_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Content Copyright by Pierian Data
Function Practice Exercises
Problems are arranged in increasing difficulty:

Warmup - these can be solved using basic comparisons and methods
Level 1 - these may involve if/then conditional statements and simple methods
Level 2 - these may require iterating over sequences, usually with some kind of loop
Challenging - these will take some creativity to solve

WARMUP SECTION:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:  # check if both numbers are even
        return min(a, b)  # return the lesser of the two
    else:
        return max(a, b)  # return the greater of the two

In [ ]:
# Check
lesser_of_two_evens(2,4)

2

In [ ]:
# Check
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    words = text.split()
    if words[0][0].lower() == words[1][0].lower():
        return True
    else:
        return False

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

True

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2): 
    if n1+n2 == 20:
        return True
    else:
        return False

In [ ]:
# Check
makes_twenty(20,10)

False

In [ ]:
# Check
makes_twenty(2,3)

False

In [ ]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [ ]:
makes_twenty(20,10)

True

In [ ]:
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

In [ ]:
def old_macdonald(name):
    if len(name) < 4:
        return name.capitalize()
    else:
        return name[:3].capitalize() + name[3:].capitalize()

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [ ]:
# Check
old_macdonald('adrian')

'AdrIan'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [ ]:
"hry".join(['a','b','c'])

'ahrybhryc'

In [ ]:
list= 'you and me'
list[::-1]

'em dna uoy'

In [ ]:
def master_yoda(sentence):
    words = sentence.split()
    return " ".join(words[::-1]) #join methon and a space delimiter "". The function csn help to returns the new sentence.

In [ ]:
sentence = 'This is fun'
words = sentence.split()
words

['This', 'is', 'fun']

In [ ]:
words[::-1]

['fun', 'is', 'This']

In [ ]:
" ".join(words[::-1])

'fun is This'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

In [ ]:
def almost_there(num):
    if 90 <num < 110 or  190<num < 210 :
        return True
    else:
        return False

In [ ]:
almost_there(2300)

False


In Python, abs() is a built-in function that returns the absolute value of a number. The absolute value of a number is the magnitude of the number without its sign. For example, the absolute value of 5 is 5, and the absolute value of -5 is also 5.

In [ ]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))
#In Python, abs() is a built-in function that returns the absolute value of a number. 
#The absolute value of a number is the magnitude of the number without its sign. 
#For example, the absolute value of 5 is 5, and the absolute value of -5 is also 5.

In [ ]:
almost_there(90)

True

In [ ]:
answers = 'tong'
print(f"hallo,{answers}")

hallo,tong

LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [3]:
def has_33(nums): 
  for i in range(len(nums)-1): 
    if nums[1]==3 and nums[i+1] ==3:
      return True
    return False

In [10]:
num = [1,2,3]
(len(num))

3

In [4]:
has_33([1, 3, 3])

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [14]:
def paper_doll(sentence): 
  words = sentence.split()
  for i in words: 
    return i*3

In [15]:
paper_doll('hey')

'heyheyhey'

In [18]:
def paper_doll(text):
    result = ''
    for i in text:
        result += i * 3
    return result

In [19]:
paper_doll('hey')

'hhheeeyyy'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [35]:
def blackjack(a,b,c):
    if a+b+c <= 21:
      return a+b+c
    elif a + b + c > 21 and 11 in (a, b, c):
      return a+b+c-10 
    elif a + b + c -10 > 21:
      return 'BUST'
    else: 
      return 'BUST'

In [34]:
# Check
blackjack(5,6,7)

18

In [36]:
# Check
blackjack(9,9,9)

'BUST'

In [33]:
# Check
blackjack(9,9,11)

19

In [22]:
def blackjack(a, b, c):
    if a + b + c <= 21:
        return a + b + c
    elif a + b + c > 21 and 11 in (a, b, c):
        return a + b + c - 10
    else:
        return 'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    pass