<a href="https://colab.research.google.com/github/TongHere/Python/blob/main/Functions_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def splicer(mystring): 
  if len(mystring)%2 == 0: 
    return 'even'
  else:
   return mystring[0]

In [ ]:
names =['hallo','you','me']

In [ ]:
splicer(names)

'hallo'

In [ ]:
list(map(splicer,names))

['h', 'y', 'even']

In [ ]:
y= [splicer(mystring) for mystring in names]
print(y)

['h', 'y', 'even']

Functions and Methods Homework
Complete the following questions: ____ Write a function that computes the volume of a sphere given its radius.

The volume of a sphere is given as Write a function that computes the volume of a sphere given its radius.

In [2]:
def vol(rad):
  return (4/3)*3.14* rad**3

In [3]:
# Check
vol(2)

33.49333333333333


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [8]:
def ran_check(num,low,high): 
   if low <num < high:
     print('{} is in the range of {} and {}'.format(num,low,high)) 
   else: 
    pass

In [9]:
# Check
ran_check(5,2,7)

5 is in the range of 2 and 7

In [6]:
# Check
ran_check(5,6,9)


Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [47]:
def up_low(s): 
   uppercount = 0
   lowercount = 0
   words = s.split()
   for char in s: 
      if char.isupper() :
        uppercount += 1 
      elif char.islower():
        lowercount += 1
      else: 
        pass
   print("No. of Upper case characters:",uppercount) 
   print("No. of Lower case characters:",lowercount)

In [48]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday')

No. of Upper case characters: 4
No. of Lower case characters: 33

In [33]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [34]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [49]:
def check(num,low,high): 
  if num in range(low,high): 
    print('yes')

In [51]:
check(5,4,9)

yes

In [52]:
def check(num,low,high): 
  if num in range(low,high+1): 
    print('yes')

In [55]:
check(10,4,9)