<a href="https://colab.research.google.com/github/TongHere/Python/blob/main/Functions_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def splicer(mystring): 
  if len(mystring)%2 == 0: 
    return 'even'
  else:
   return mystring[0]

In [ ]:
names =['hallo','you','me']

In [ ]:
splicer(names)

'hallo'

In [ ]:
list(map(splicer,names))

['h', 'y', 'even']

In [ ]:
y= [splicer(mystring) for mystring in names]
print(y)

['h', 'y', 'even']

Functions and Methods Homework
Complete the following questions: ____ Write a function that computes the volume of a sphere given its radius.

The volume of a sphere is given as Write a function that computes the volume of a sphere given its radius.

In [ ]:
def vol(rad):
  return (4/3)*3.14* rad**3

In [ ]:
# Check
vol(2)

33.49333333333333


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [ ]:
def ran_check(num,low,high): 
   if low <num < high:
     print('{} is in the range of {} and {}'.format(num,low,high)) 
   else: 
    pass

In [ ]:
# Check
ran_check(5,2,7)

5 is in the range of 2 and 7

In [ ]:
# Check
ran_check(5,6,9)


Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [ ]:
def up_low(s): 
   uppercount = 0
   lowercount = 0
   words = s.split()
   for char in s: 
      if char.isupper() :
        uppercount += 1 
      elif char.islower():
        lowercount += 1
      else: 
        pass
   print("No. of Upper case characters:",uppercount) 
   print("No. of Lower case characters:",lowercount)

In [ ]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday')

No. of Upper case characters: 4
No. of Lower case characters: 33

In [ ]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [ ]:
def check(num,low,high): 
  if num in range(low,high): 
    print('yes')

In [ ]:
check(5,4,9)

yes

In [ ]:
def check(num,low,high): 
  if num in range(low,high+1): 
    print('yes')

In [ ]:
check(10,4,9)

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst): 
  x=[]
  for i in lst:
    if i not in x:
      x.append(i)
  return x

In [ ]:
lost = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_list(lost)

[1, 2, 3, 4, 5]

Write a Python function to multiply all the numbers in a list.

In [ ]:
def multiply(numbers):
  total =1
  for x in numbers: 
    total *= x
  return total

Write a Python function that checks whether a word or phrase is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [ ]:
def palindrome(s):
  return s[::-1] #reverse string

In [ ]:
palindrome('This')

'sihT'

In [ ]:
def palindrome(s):
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]   # Check through slicing

In [ ]:
palindrome('nurses run')

True

Hard:
Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the string module

Hint: In case you want to use set comparisons

In [14]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase): 
    # Create a set of the alphabet
    alphaset = set(alphabet)  
    print(alphaset)
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    print(str1)
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    print(str1)
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    print(str1)
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [15]:
ispangram("The quick brown fox jumps over the lazy dog")

{'h', 'm', 'f', 'e', 'v', 'c', 'g', 'j', 'r', 'k', 'w', 'z', 'u', 'p', 'n', 'l', 'a', 'x', 't', 'i', 's', 'd', 'q', 'b', 'y', 'o'}
Thequickbrownfoxjumpsoverthelazydog
thequickbrownfoxjumpsoverthelazydog
{'h', 'm', 'f', 'e', 'v', 'c', 'r', 'j', 'g', 'k', 'w', 'z', 'u', 'p', 'n', 'l', 'a', 'x', 't', 'i', 's', 'd', 'q', 'b', 'y', 'o'}

True

In [6]:
ispangram("lazy dog")

False